:root{
    --welcome-overflow:visible;
    --gallery-overflow:hidden;
    --about-overflow: hidden;
    --store-overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
}

nav {
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.776);
        color: black;
    z-index: 1;
    font-size: 1rem;
    animation-name: navShrink;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    z-index: 3;
}

nav::before{
    content:"";
    position: absolute;
    top: 20px;
    width: 100vw;
    height: 180px;
}

nav:hover{
    animation-name: navGrow;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}



@keyframes navGrow{
    from{font-size: 1rem;
        height: 5vh;}
        to{height: 10vh;
    background-color: rgba(0, 0, 0, 0.292);
    color: white;
            font-size: 1.5rem;}
}

@keyframes navShrink {
    from {
        height: 10vh;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.292);
            color: white;
    }
    to {
        font-size: 1rem;
        height: 5vh;
        background-color: rgba(255, 255, 255, 0.776);
            color: black;
    }

}

a{
    margin-right: 20px;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 1;
}

a:hover{
    color: black;
}

section {
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
}

#welcome{
    overflow-y: var(--welcome-overflow);
    z-index: 1;
}

#gallery{
    overflow-y: var(--gallery-overflow);
    text-align: center;
    letter-spacing: 10px;
    z-index: var(--gallery-z);
}

#about {
    overflow-y: var(--about-overflow);
    color: black;
    z-index: var(--about-z);
}

#store{
    overflow-y: var(--store-overflow);
    z-index: var(--store-z);
}

@keyframes slideInRight {
    from {
        left: 100vw;
    }

    to {
        left: 0;
    }
}

@keyframes slideInLeft {
    from {
        left: -100vw;
    }

    to {
        left: 0;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#painting-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 20px;
    align-items: center;
    padding-bottom: 80px;
}

#painting-container img{
    width: 100%;
}


header{
    margin: auto;
    margin-top: 15vh;
    width: 80%;
    left: 100px;
    background-image: linear-gradient(to right, rgba(56, 31, 75, 0.493), rgba(156, 156, 156, 0.126));
    box-shadow: 17px 41px 56px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

#title{
    position: relative;
    top: 20px;
    min-width: 400px;
    max-width: 400px;
    left: 10px;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    width: 40%;
}

h2{
    font-weight: 100;
    color: black;
    font-size: 4rem;
    margin-bottom: 70px;
    text-align: center;

}


h1 span{
    font-size: 5rem;
}

p{
    width: 80%;
    margin: auto;
}

#img-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#img-container img{
    width: 33.33%
}


@media (max-width: 500px){
    #title{
        font-size: 1.5rem;
        min-width: 200px;
        margin-bottom: 50px;
}
    h1 span{
        font-size: 3rem;
    }
    a{
        font-size: 1rem;
    }
    #img-container{
        position: relative;
        animation: slideShow;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        
    }
    #img-container img{
        width: 100%;
    }

    @keyframes slideShow {
        0%   {left: 0;}
        20%  {left:0}
        30%  {left: -100%;}
        50%  {left: -100%}
        60%  {left:-200%;}
        90%  {left: -200%;}
        100% {left: 0;}
    }

    #painting-container{
        gap: 5px;
        width: 90%;
    }
    
    nav{
    animation-name: none;
    }
    nav:hover{
    animation-name: none;
    }
}
