:root{
    --welcome-overflow:visible;
    --gallery-overflow:hidden;
    --about-overflow: hidden;
    --store-overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
}

nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 1.3rem;
    z-index: 3;
    font-weight: 350;
    box-sizing: border-box;
}



.nav-menu{
        list-style: none;
        display: flex;
        gap: 60px;
}


a{
    text-decoration: none;
    text-transform: capitalize;
    z-index: 1;
    transition: 0.7s ease;
}

nav a:visited{
    color: black;
}

a:hover{
    color: rgba(0, 0, 0, 0.477);
    cursor: pointer;
}

.hamburger{
    position: absolute;
    display: none;
    cursor: pointer;
    margin-right: 24px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

section {
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
}

#welcome{
    overflow-y: var(--welcome-overflow);
    z-index: 1;
}

#gallery{
    overflow-y: var(--gallery-overflow);
    text-align: center;
    letter-spacing: 10px;
    z-index: var(--gallery-z);
}

#about {
    overflow-y: var(--about-overflow);
    color: black;
    z-index: var(--about-z);
}

#store{
    overflow-y: var(--store-overflow);
    z-index: var(--store-z);
    /* background-color: rgb(186, 199, 208); */
    /* padding-top: 80px; */
    /* height: auto; */
}

/* #shop-background{
    
    /* background-color: rgb(186, 199, 208); */


#shop-heading{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(127, 117, 12, 0.164),rgba(0, 0, 0, 0.158)),url(backgrounds/pexels-daian-gan-102127.jpg);
    height: 250px;    
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 35%;
    color: white;
    font-weight: 400;
    box-shadow: 17px 41px 56px 0px rgba(0, 0, 0, 0.35);
}

#shop-title{
    color: white;
        font-weight: 400;
}

.listing-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition-duration: .7s;
    line-height: 20px;
}

.listing-div:hover{
    background-color: rgba(255, 255, 255, 0.671);
    -webkit-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.75);
    transition-duration: .7s;
    cursor: pointer;
}



.listing-title, .listing-price{ 
    width: 100%;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: .8rem;
}

.listing-title {
    padding-top: 10px;
    font-size: 1rem;
}

@keyframes slideInRight {
    from {
        left: 100vw;
    }

    to {
        left: 0;
    }
}

@keyframes slideInLeft {
    from {
        left: -100vw;
    }

    to {
        left: 0;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#painting-container, #listing-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 20px;
    align-items: center;
    padding-bottom: 80px;
}

#listing-container{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0px;
    align-items: flex-start;
}

#painting-container img{
    width: 100%;
}

.listing-div img{
    width: 100%;
}


header{
    margin: auto;
    margin-top: 15vh;
    width: 80%;
    height: auto;
    background-image: linear-gradient(to right, rgba(56, 31, 75, 0.493), rgba(156, 156, 156, 0.126));
    box-shadow: 17px 41px 56px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

#title{
    position: relative;
    top: 20px;
    min-width: 400px;
    max-width: 400px;
    left: 10px;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    width: 40%;
}

h2{
    font-weight: 100;
    color: black;
    font-size: 4rem;
    margin-bottom: 70px;
    text-align: center;

}


h1 span{
    font-size: 5rem;
}

p{
    width: 80%;
    margin: auto;
}

#img-container{
    display: flex;
    flex-wrap: nowrap;
}

#img-container img{
    width: 33.33%;
        height: 33.33%;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);
    width: 100%;
    height: 100%;
    margin: auto;
}

.modal-content{
    width: 70%;
    height: 70%;
    margin: 110px auto;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 40px;
}

.listing-modal-img{
    width: 80%;
}

.listing-modal-info {
    margin-left: 0;
}

.listing-modal-desc{
    margin-left: 0;
}

.exit-btn{
    position: absolute;
    left: 85%;
    top: 120px;
    width: fit-content;
    height: 30px;
}

.exit-btn:hover{
    cursor: pointer;
}

#add-item{
    margin-top: 10px;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
        background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

#add-item:hover{
    cursor: pointer;
}

.X1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
        transform: translateY(8px) rotate(-45deg);
}

.X2{
    display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: black;
        transform: rotate(45deg);
}

#cart-items-container{
    background-color: aquamarine;
    margin: auto;
    width: 80%;
    height: 320px;
}

.cart-item{
    display: flex;
    width: 100%;
    background-color: white;
}

.cart-item img{
    min-width: 70px;
    width: 7%;
    margin: 5px;
}

.cart-item-title{
    width: 100%;
    font-weight: 400;
    font-size: .8rem;
    align-self: center;
    margin-left: 20px;
}

.cart-item-price{
    align-self: center;
    margin-right: 20px;
}

.remove-btn{
    align-self: center;
    padding-bottom: 5px;
    margin-right: 10px;
}

.remove-btn:hover {
    cursor: pointer;
}


@media (max-width: 500px){
    #title{
        font-size: 1.5rem;
        min-width: 200px;
        margin-bottom: 50px;
}
    h1 span{
        font-size: 3rem;
    }


    nav{
        height: 40px;
            -webkit-justify-content: end;
        justify-content: end;
    }

    nav{
        height: 40px;
        justify-content: end;
    }
        nav.active {
            -webkit-backdrop-filter: none;
            backdrop-filter: none;
        }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: relative;
        display: flex;
        left: -100%;
        gap: 0;
        top: 100px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
        }
    
        .nav-item {
            margin: 10px 0;
        }
    
        .nav-menu.active {
            left: 0;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
        }
    
    #img-container{
        max-height: 50%;
        position: relative;
        animation: slideShow;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        
    }
    #img-container img{
        width: 100%;
    }

    @keyframes slideShow {
        0%   {left: 0;}
        20%  {left:0}
        30%  {left: -100%;}
        50%  {left: -100%}
        60%  {left:-200%;}
        90%  {left: -200%;}
        100% {left: 0;}
    }

    #painting-container{
        gap: 5px;
        width: 90%;
    }

    #listing-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 90%;
    }
}
